<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> ADMIN | KingWolf </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/admin-template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/admin-template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/admin-template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/admin-template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/admin-template/css/style.css" type="text/css">

    <link href="/public/css/styles.css" type="text/css" rel="stylesheet" />
    <script>
      function details(id, name) {
        document.getElementById("txtID").value = id;
        document.getElementById("txtName").value = name;
        document.getElementById("btnUpdate").style.display = "inline";
        document.getElementById("btnDelete").style.display = "inline";
      }
    </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="col-md-6">
        <p> Welcom back <b><u><i> <%=session.admin.username%> </i></u></b>  ||  <a href="./logout" > Logout </a></p> 
      </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html"><img src="/public/admin-template/img/logo.png" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="home"> Home </a></li>
                        <li><a href="#"> Product Management </a>
                            <ul class="sub-menu">
                                <li><a href="listcategory"> List of Categories </a></li>
                                <li><a href="listproduct"> List of Products </a></li>
                            </ul>
                            <li><a href="listorder"> Orders </a></li>
                            <li><a href="listcustomer"> Customers </a></li>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <!-- Js Plugins -->
    <script src="/public/admin-template/js/jquery-3.3.1.min.js"></script>
    <script src="/public/admin-template/js/bootstrap.min.js"></script>
    <script src="/public/admin-template/js/jquery.slicknav.js"></script>
    <script src="/public/admin-template/js/jquery.nice-select.min.js"></script>
    <script src="/public/admin-template/js/mixitup.min.js"></script>
    <script src="/public/admin-template/js/main.js"></script>
</body>

</html>